<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando...</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3>
                <table class="table table-hover" *ngIf="hospitales.length > 0">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales" [routerLink]="['/hospitales']">
                            <td class="w50 text-center">
                                <img [src]="hospital.img | imagen:'hospital'" class="img-50 pointer">
                            </td>
                            <td>{{ hospital.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="hospitales.length === 0">
                    No har registros
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Médicos</h3>
                <table class="table table-hover" *ngIf="medicos.length > 0">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medico of medicos" [routerLink]="['/medico',medico._id]">
                            <td class="w50 text-center">
                                <img [src]="medico.img | imagen:'medico'" class="img-50 pointer">
                            </td>
                            <td>{{ medico.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="medicos.length === 0">
                    No har registros
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3>
                <table class="table table-hover" *ngIf="usuarios.length > 0">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']">
                            <td class="w50 text-center">
                                <img [src]="usuario.img | imagen" class="img-25 img-circle pointer">
                            </td>
                            <td>{{ usuario.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="usuarios.length === 0">
                    No har registros
                </div>
            </div>
        </div>
    </div>
</div>